# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config DMC_RUN_SMBUS_TESTS
	bool "Run SMBUS Tests"
	help
	  Run SMBUS tests on the DMC at boot time. This can be used to verify
	  functionality of the SMBUS interface.

source "Kconfig.zephyr"
