# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0


config EXPECTED_READ_TIME
	int "Upper bound on read time for flash device"
	default 1000
	help
	  Expected read time for flash device in milliseconds. This is used to
	  detect performance regressions in the flash driver. This value should
	  be set experimentally when enabling the test, so that any performance
	  drop in the future will be detected.

config EXPECTED_PROGRAM_TIME
	int "Upper bound on program time for flash device"
	default 1000
	help
	  Expected program time for flash device in milliseconds. This is used to
	  detect performance regressions in the flash driver. This value should
	  be set experimentally when enabling the test, so that any performance
	  drop in the future will be detected.

source "Kconfig.zephyr"
