#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if MSPI

menu "MSPI drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.dw"
# zephyr-keep-sorted-stop

endmenu

endif
