# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_BM_EVENT
	bool "BM event support"
	depends on EVENTS
	help
	  BM event support.

module = TT_BM_EVENT
module-str = TT BM event
source "subsys/logging/Kconfig.template.log_config"
