# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_FWUPDATE
	bool "Tenstorrent firmware update library"
	depends on IMG_MANAGER
	depends on TT_BOOT_FS
	# maybe imply REBOOT?
	help
	  Library for initiating firmware updates from the application.

if TT_FWUPDATE

config TT_FWUPDATE_WRITE_BUF_SIZE
	hex "Tenstorrent firmware update write buffer size"
	default 0x80 # 128 bytes
	help
	  Should be large enough to not incur a syscall penalty when copying data to / from flash,
	  but small enough so that it doesn't consume too much space in the .data section.

config TT_FWUPDATE_TEST
	bool "Tenstorrent firmware update testing"
	# do not enable this for real hw
	depends on BOARD_QEMU_X86
	help
	  Support creating a test tt_boot_fw filesystem.

module = TT_FWUPDATE
module-str = "Tenstorrent firmware update library"
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
