# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

config JTAG_BITBANG
	bool "JTAG Port bit-bang driver"
	default y
	depends on DT_HAS_ZEPHYR_JTAG_GPIO_ENABLED
	depends on GPIO
