/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &vuart0;
		zephyr,shell-uart = &vuart0;
	};

	vuart0: uart_tt_virt {
		compatible = "tenstorrent,vuart";
		version = <0x00000000>;
		status = "disabled";
	};
};

&uart0 {
	status = "disabled";
};

&vuart0 {
	status = "okay";
};
