# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

if I2C

menu "I2C Drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.tt_stm32"
# zephyr-keep-sorted-stop

endmenu

endif
