# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config BOARD_TT_BLACKHOLE
	select SOC_TT_BLACKHOLE_DMC if BOARD_TT_BLACKHOLE_TT_BLACKHOLE_DMC
	select SOC_TT_BLACKHOLE_SMC if BOARD_TT_BLACKHOLE_TT_BLACKHOLE_SMC
