/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1c(b-c-e)tx-pinctrl.dtsi>

/ {
	model = "Tenstorrent Blackhole board";
	compatible = "tenstorrent,blackhole";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};
};

#include "tt_blackhole_base.dtsi"

&chip0 {
    jtag0: jtag {
		compatible = "zephyr,jtag-gpio";
		port-write-cycles = <2>;

		tck-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
		tdi-gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
		tdo-gpios = <&gpiob 1 GPIO_PULL_UP>;
		tms-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		trst-gpios = <&gpiod 0 GPIO_ACTIVE_LOW>;
	};
};

/ {
	chips {
		compatible = "tenstorrent,bh-chips";
		chips = <&chip0>;
		primary = <0>;
	};
};

&smbus3 {
	status = "okay";
	compatible = "st,tt-stm32-smbus";

	chip0_arc: bh_arc@A {
		compatible = "tenstorrent,bh-arc";
		reg = <0xA>;
	};
};
