# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

if SERIAL

menu "Serial drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.tt_virt"
# zephyr-keep-sorted-stop

endmenu

endif
