# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config UART_TT_VIRT
	bool "Tenstorrent virtual UART driver"
	default y
	depends on DT_HAS_TENSTORRENT_VUART_ENABLED
	select SERIAL_HAS_DRIVER
	help
	  Enable the Tenstorrent virtual UART driver.

if UART_TT_VIRT

choice UART_TT_VIRT_OFLOW_CHOICE
	prompt "Tenstorrent virtual uart TX overflow behaviour"
	default UART_TT_VIRT_OFLOW_DROP

config UART_TT_VIRT_OFLOW_DROP
	bool "Drop characters when the TX buffer is full"

config UART_TT_VIRT_OFLOW_HEAD
	bool "Overwrite the head (oldest) character"

config UART_TT_VIRT_OFLOW_TAIL
	bool "Overwrite the tail (newest) character"

endchoice

endif
