# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_BOOT_BANNER
	bool "Print Tenstorrent's boot banner"
	depends on !BOOT_BANNER
	select PRINTK
	select EARLY_CONSOLE
	help
	  Print Tenstorrent's boot banner instead of Zephyr's boot banner.

if TT_BOOT_BANNER

config TT_BOOT_BANNER_GIT_VERSION
	bool "Print the git revision when displaying the boot banner"
	help
	  Print the git revision when displaying the boot banner.

	  See ZEPHYR_BASE/cmake/modules/git.cmake for more information.

endif
