name: Hardware Smoke Tests

on:
  push:
    branches:
      - main
      - v*-branch
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - v*-branch

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  hardware-smoke-test:
    strategy:
      fail-fast: false
      matrix:
        config:
          - board: p100
            runs-on:
              - p100-jtag
          - board: p100a
            runs-on:
              - p100a-jtag
          - board: p150a
            runs-on:
              - p150a-jtag
    runs-on: ${{ matrix.config.runs-on }}
    container:
      image: ghcr.io/zephyrproject-rtos/ci-repo-cache:v0.27.4.20241026
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /opt/tenstorrent:/opt/tenstorrent
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - uses: actions/checkout@v4
        with:
          path: tt-zephyr-platforms
          ref: ${{ github.ref }}
      - uses: ./tt-zephyr-platforms/.github/workflows/prepare-zephyr
        with:
          app-path: tt-zephyr-platforms

      - name: Generate board names
        shell: bash
        run: |
          case "${{ matrix.config.board }}" in
            p100) SMC_BOARD=tt_blackhole@p100/tt_blackhole/smc;;
            p100a) SMC_BOARD=tt_blackhole@p100a/tt_blackhole/smc;;
            p150a) SMC_BOARD=tt_blackhole@p150a/tt_blackhole/smc;;
            *) echo "Unknown board: ${{ matrix.config.board }}"; exit 1;;
          esac
          case "${{ matrix.config.board }}" in
            p100) DMC_BOARD=tt_blackhole@p100/tt_blackhole/dmc;;
            p100a) DMC_BOARD=tt_blackhole@p100a/tt_blackhole/dmc;;
            p150a) DMC_BOARD=tt_blackhole@p150a/tt_blackhole/dmc;;
            p300) DMC_BOARD=p300/tt_blackhole/dmc;;
            *) echo "Unknown board: ${{ matrix.config.board }}"; exit 1;;
          esac
          echo "SMC_BOARD=$SMC_BOARD" >> "$GITHUB_ENV"
          echo "DMC_BOARD=$DMC_BOARD" >> "$GITHUB_ENV"

      - name: run-dmc-tests
        working-directory: zephyr
        run: |
          # Run tests tagged with "smoke"
          ./scripts/twister -i --retry-failed 3 \
            --retry-interval 5 \
            -p $DMC_BOARD --device-testing \
            --hardware-map /opt/tenstorrent/twister/hw-map.yml --west-flash \
            --tag smoke \
            --alt-config-root ../tt-zephyr-platforms/test-conf/samples \
            --alt-config-root ../tt-zephyr-platforms/test-conf/tests \
            -T samples -T tests -T ../tt-zephyr-platforms/tests \
            -T ../tt-zephyr-platforms/samples \
            --outdir twister-dmc-smoke

      - name: Upload DMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: DMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-dmc-smoke/**/handler.log
            zephyr/twister-dmc-smoke/**/twister_harness.log
            zephyr/twister-dmc-smoke/**/zephyr.dts
            zephyr/twister-dmc-smoke/**/.config
            zephyr/twister-dmc-smoke/**/*.map
            zephyr/twister-dmc-smoke/**/zephyr.elf
            zephyr/twister-dmc-smoke/**/*.lst
            zephyr/twister-dmc-smoke/twister.log
            zephyr/twister-dmc-smoke/twister.json

      - name: run-smc-tests
        working-directory: zephyr
        run: |
          # Flash the DMFW app back onto the DMC. Otherwise the flash device
          # will not be muxed to the SMC, and flash tests will fail
          ./scripts/twister -i --retry-failed 3 \
            --retry-interval 5 \
            --tag e2e \
            -p $DMC_BOARD --device-testing \
            --hardware-map /opt/tenstorrent/twister/hw-map.yml --west-flash \
            -T ../tt-zephyr-platforms/app \
            --outdir twister-dmc-e2e

          # Run tests tagged with "smoke"
          ./scripts/twister -i --retry-failed 3 \
            --retry-interval 5 \
            -p $SMC_BOARD --device-testing \
            --hardware-map /opt/tenstorrent/twister/hw-map.yml --west-flash \
            --tag smoke \
            --alt-config-root ../tt-zephyr-platforms/test-conf/samples \
            --alt-config-root ../tt-zephyr-platforms/test-conf/tests \
            -T samples -T tests -T ../tt-zephyr-platforms/tests \
            -T ../tt-zephyr-platforms/samples \
            --outdir twister-smc-smoke

      - name: Upload SMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: SMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-smc-smoke/**/handler.log
            zephyr/twister-smc-smoke/**/twister_harness.log
            zephyr/twister-smc-smoke/**/zephyr.dts
            zephyr/twister-smc-smoke/**/.config
            zephyr/twister-smc-smoke/**/*.map
            zephyr/twister-smc-smoke/**/zephyr.elf
            zephyr/twister-smc-smoke/**/*.lst
            zephyr/twister-smc-smoke/twister.log
            zephyr/twister-smc-smoke/twister.json

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_rtt.py -n --openocd /opt/tenstorrent/bin/openocd-rtt

  smoke-e2e-test:
    strategy:
      fail-fast: false
      matrix:
        config:
          - board: p100
            runs-on:
              - p100-jtag
          - board: p100a
            runs-on:
              - p100a-jtag
          - board: p150a
            runs-on:
              - p150a-jtag
    runs-on: ${{ matrix.config.runs-on }}
    env:
      "ZEPHYR_SDK_INSTALL_DIR": /opt/toolchains
    container:
      image: ghcr.io/zephyrproject-rtos/ci-repo-cache:v0.27.4.20241026
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /opt/tenstorrent:/opt/tenstorrent
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - uses: actions/checkout@v4
        with:
          path: tt-zephyr-platforms
          ref: ${{ github.ref }}
      - uses: ./tt-zephyr-platforms/.github/workflows/prepare-zephyr
        with:
          app-path: tt-zephyr-platforms

      - name: Generate board names
        shell: bash
        run: |
          case "${{ matrix.config.board }}" in
            p100) SMC_BOARD=tt_blackhole@p100/tt_blackhole/smc;;
            p100a) SMC_BOARD=tt_blackhole@p100a/tt_blackhole/smc;;
            p150a) SMC_BOARD=tt_blackhole@p150a/tt_blackhole/smc;;
            p300a) SMC_BOARD=tt_blackhole@p300a/tt_blackhole/smc;;
            *) echo "Unknown board: ${{ matrix.config.board }}"; exit 1;;
          esac
          case "${{ matrix.config.board }}" in
            p100) DMC_BOARD=tt_blackhole@p100/tt_blackhole/dmc;;
            p100a) DMC_BOARD=tt_blackhole@p100a/tt_blackhole/dmc;;
            p150a) DMC_BOARD=tt_blackhole@p150a/tt_blackhole/dmc;;
            p300) DMC_BOARD=p300/tt_blackhole/dmc;;
            *) echo "Unknown board: ${{ matrix.config.board }}"; exit 1;;
          esac
          echo "SMC_BOARD=$SMC_BOARD" >> "$GITHUB_ENV"
          echo "DMC_BOARD=$DMC_BOARD" >> "$GITHUB_ENV"

      - name: run-e2e-tests
        working-directory: zephyr
        run: |
          # TODO: ideally we would use one twister command to build and
          # flash DMC and SMC firmware, but since each chip uses a separate
          # debug adapter this doesn't work. For now, just flash DMC
          # then run twister with SMC firmware
          ./scripts/twister -i --retry-failed 3 \
            --retry-interval 5 \
            --tag e2e \
            -p $DMC_BOARD --device-testing \
            --hardware-map /opt/tenstorrent/twister/hw-map.yml --west-flash \
            -T ../tt-zephyr-platforms/app \
            --outdir twister-dmc-e2e
          # Run E2E test to verify DMC and SMC firmware boot, and that
          # the SMC firmware sets up PCIe and ARC messages
          ./scripts/twister -i --retry-failed 3 \
            -p $SMC_BOARD --device-testing \
            --tag e2e \
            --hardware-map /opt/tenstorrent/twister/hw-map.yml --west-flash \
            -T ../tt-zephyr-platforms/app \
            --outdir twister-smc-e2e

      - name: run-e2e-flash-test
        working-directory: zephyr
        run: |
          # Run a full flash test, using tt-flash as the runner
          ./scripts/twister -i -p $SMC_BOARD \
            --tag e2e-flash -T ../tt-zephyr-platforms/app \
            --west-flash="--force" \
            --west-runner tt_flash \
            --device-testing -c \
            --device-serial-pty rtt \
            --outdir twister-e2e-flash

      - name: Upload E2E Test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: E2E test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-*e2e*/**/handler.log
            zephyr/twister-*e2e*/**/twister_harness.log
            zephyr/twister-*e2e*/**/zephyr.dts
            zephyr/twister-*e2e*/**/.config
            zephyr/twister-*e2e*/**/*.map
            zephyr/twister-*e2e*/**/zephyr.elf
            zephyr/twister-*e2e*/**/*.lst
            zephyr/twister-*e2e*/twister.log
            zephyr/twister-*e2e*/twister.json
            zephyr/twister-*e2e*/**/update.fwbundle

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_rtt.py -n --openocd /opt/tenstorrent/bin/openocd-rtt
